# This file defines the code ownership and, by proxy, the required reviewers for
# the repository. It is parsed in order, with the most-specific match take
# precedence.

# Default fallback
*    @abcxyz/breakglass

# Generic Terraform changes should be reviewed by a Terraform expert.
*.tf    @abcxyz/terraform-readability

# Changes to the languages must be approved by existing language approvers.
/terraform/go.yaml            @abcxyz/go-readability
/terraform/java.yaml          @abcxyz/java-readability
/terraform/typescript.yaml    @abcxyz/typescript-readability
